<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.name %></title>
</head>
<body>
    <%- include('../header') %>

    <h1><%= category.name %></h1>
    <p>Description: <%= category.description %></p>
    <a href="/categories/<%= category.id %>/edit">Edit Category</a>
    <form action="/categories/<%= category.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Category</button>
    </form>
    <a href="/categories">Back to Categories</a>
    <%- include('../footer') %>
</body>
</html>